.element__trash-button {
  background-image: url(../../../images/trash.svg);
  height: 19px;
  width: 18px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
}
