.element__like-button {
  background-image: url(../../../images/like-button.svg);
  height: 19px;
  width: 22px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  transition: opacity .3s;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button:active {
  background-image: url(../../../images/like-button-active.svg);
}



