.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 17px;
  padding: 0 200px;
  margin: 0;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .elements__list {
    padding: 0 90px;
  }
}

@media screen and (max-width: 768px) {
  .elements__list {
    padding: 0 19px;
    gap: 20px;
  }
}
